/* common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* botton */
.btn {
    display: inline-block;
    line-height: 30px;
    padding: 2px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.btn-lg {
    padding: 10px 20px;

}

.btn-sm {
    padding: 10px 10px;
}

.btn-blue {
    border: 1px solid white;
}

.btn-green {
    border: 1px solid black;
    background-color: red;
}

.point {
    cursor: pointer;
}

ul :hover  a {
    color: #68A1D7;
}

ul :hover .active {
    background-color: red;
}

ul :hover .active1 {
    background-color: #68A1D7;
    color: white;
}

.jumbotron :hover .active1 {
    background-color: #68A1D7;
    color: white;
}

.w50 {
    width: 50%;
}

.w85 {
    width: 85%;
}

/* padding */
.pt-50 {
    padding-top: 50px;
}

/* margin */
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 10px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* text */
.txt-grey {
    color: #808080;
}

.txt-red {
    color: red;
}

.txt-link {
    color: skyblue;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

h1 {
    color: white;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

/* body */

body {
    font-family: 'Roboto', sans-serif;
}

.help {
    position: fixed;
    right: 10%;
    bottom: 7%;
    border-radius: 50%;
    padding: 15px 18px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpW0hb4xONmpO3X6jymLOQcu4WJzCjLmmoA&usqp=CAU);
    background-size: 170%;
    background-position: center;
}

.center-container {
    width: 80%;
    margin: 0 auto;
}

/* heander */
header {
    height: 500px;
    background-color: #0D325A;
    background-image: url(../img/background-header.png);
    background-size: 75% auto;
    background-position: 120% bottom;
    background-repeat: no-repeat;
}

.header-nav {
    height: 80px;
    line-height: 80px;
}

.logo {
    width: 15%;
    height: 100%;
}

.logo img {
    vertical-align: middle;
}

.list-inline li,
a {
    display: inline-block;
    list-style: none;
    padding: 0 3px;
}

.list-inline a {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav-left {
    width: 45%;
    height: 100%;
}

.nav-right {
    width: 40%;
    height: 100%;
    text-align: right;
}

.jumbotron {
    line-height: 70px;
    position: relative;
}

.jumbotron-text {
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(50%);
    letter-spacing: 1px;
}

.grey-space {
    height: 150px;
    background-color: #D3D3D3;
}

.card {
    width: calc( 100% / 3 - 80px );
    margin: 40px;
    text-align: center;
}

.img1 {
   width: 100px;
}

.img2 {
    width: 173px;
}

.img3 {
    width: 122px;
}

.card > hr {
    width: 30%;
    margin: 20px auto;
}

.separator-line {
    border: 1px solid #DEDEDE;
}

.card2 {
    width: calc( 100% / 2 - 80px );
    margin: 40px;
}

h3.txt-section2 {
    font-size: 30px;
}

p.txt-section2 {
    font-size: 22px;
}

/* footer */
select {
    border-right: 1px;
    border-left: 1px;
    border-top: 1px;
    background-color: rgba( 255, 255, 255, 0.1);
}

